## This notebook: Introduction, Data Types, Variables, and Functions

# What's Going On?

## Python

- Python is one of the most popular programming languages for data science
- A tool to communicate with the computer in ways that it understands
- Ultimately reduces everything you type to 1s and 0s (electrical impulses)
- Python is more user-friendly, with more distance between your code and what the computer reads

## Jupyter Notebooks

- Jupyter is a software that provides us a place to give instructions to the computer
- A Jupyter notebook consists of **code cells** and **markdown cells**
- Code cells are read by the computer in Python, Markdown cells are assumed to be in English
- **Make sure you know which cells you have and haven't run yet!**

In [1]:
# Lines that start with hashtags are called "comments" and ignored by the computer

'''
You can also do multi-line comments,
using three single quotes,
like this.
'''

# "Print" something: Display it for the viewer to see
# Run this cell by pressing Shift+Enter
print("Hello world")

Hello world

# Data Types

## 1. Boolean

- Remember everything reduces to 1s and 0s
- Most basic data type is the boolean: True (1) or False (0)
- Useful for **comparisons** between two things

In [58]:
6 < 7

True

In [57]:
6 > 6

False

In [64]:
# "type" function gives us the data type of our variable
type(True)

bool

In [65]:
type(6 > 7)

bool

### Basic Comparison Operations:
<table>
    <tr>
        <td>></td>
        <td>Greater Than</td>
    </tr>
    <tr>
        <td><</td>
        <td>Less Than</td>
    </tr>
    <tr>
        <td>>=</td>
        <td>Greater Than or Equal To</td>
    </tr>
    <tr>
        <td><=</td>
        <td>Less Than or Equal To</td>
    </tr>
    <tr>
        <td>==</td>
        <td>Equal To</td>
    </tr>
    <tr>
        <td>!=</td>
        <td>Not Equal To</td>
    </tr>
</table>

- All simplify to a boolean value: either "True" or "False"

In [61]:
# This doesn't look true, does it?
print((6 == 7) == (8 == 9))

# However, the computer looks at each inequality in parentheses first and reads them as booleans.
print((False) == (False))

# False is the same as False
print(True)

True
True
True

## 2. Int
- Integers or whole numbers
- Since computers only recognize 1s and 0s, other numbers are translated to binary outside of our view
- Python knows that ints can be added, multiplied, etc
- Can apply any PEMDAS operations and a few more

In [67]:
5 + 4

9

In [78]:
30 - 5 * (4 + 1)

5

In [1]:
type(5)

int

In [2]:
type(-8 * 16 + 45)

int

### Integer Operations:
<table>
    <tr>
        <td>+, -</td>
        <td>Addition, Subtraction</td>
    </tr>
    <tr>
        <td>*, /</td>
        <td>Multiplication, Division</td>
    </tr>
    <tr>
        <td>**</td>
        <td>Exponents</td>
    </tr>
    <tr>
        <td>//</td>
        <td>Floor Division</td>
    </tr>
    <tr>
        <td>%</td>
        <td>Remainder or "Modulo"</td>
    </tr>
    <tr>
        <td>abs()</td>
        <td>Absolute Value</td>
    </tr>
    <tr>
        <td>round()</td>
        <td>Round to Nearest Integer</td>
    </tr>
</table>

#### Exponents

In [80]:
2 ** 6

64

#### Floor Division

In [81]:
9 / 2

4.5

In [82]:
9 // 2

4

#### Modulo

In [86]:
# 10 divided by 2 equals 5 with no remainder
10 % 2

0

In [89]:
# 11 divided by 4 is 2 with a remainder of 3
11 % 4

3

If we know x % 2 == 0, what does that tell us about x? What about if x % 2 == 1?

## 3. String

- Letters, words, sentences, etc
- Strings are put in single ('') or double ("") quotes
- **Anything** in quotes is considered a string, no matter what it looks like

In [94]:
type("Hello world")

str

In [95]:
type("4")

str

In [96]:
type("True")

str

- Strings have different operations than ints

#### Combining Strings

In [123]:
"Hello" + "," + " " + "world!"

#print(4 + 5)

#print("4" + "5")

'Hello, world!'

- Note: The addition sign (+) means different things for strings and ints. This is why it's important to know what type your data is!

#### Upper- and Lower-Casing

In [112]:
"Hello".lower()

'hello'

In [113]:
"Hello".upper()

'HELLO'

#### Replacing Part of a String

In [110]:
# Replace part of a string
"hitchhiker".replace("hi", "ma")

'matchmaker'

# 4. Float

- Numbers involving decimals
- **Using division always outputs a float** (use floor division if you want an int)

In [115]:
type(4.5)

float

In [118]:
type(8 / 4)

float

# Review

What type are the following terms?

In [124]:
type(5)

int

In [125]:
type(5.0)

float

In [126]:
type("5")

str

In [127]:
type(5 > 4)

bool

# Data Types: Can We Combine Them?
- Combining different data types is one of the most common errors
- You wouldn't try to add the word "egg" and 17, so why would you make a computer add them?
- Which of these will error?

In [1]:
5 + 12

17

In [2]:
"5" + 12

TypeError: must be str, not int

In [3]:
"5" + "12"

'512'

In [4]:
5 + 12.5

17.5

### Casting
- If you want to combine a string and an int, for instance, you can **cast** one to the other type
- This means changing the type of the variable
- To do this, use str(), int(), float(), or bool()

In [31]:
5 + int("5")

10

In [35]:
str(500) + " dollars"

'500 dollars'

## Summary: Data Types
- **Boolean:** True or False. For situations with only two options.
- **Int:** Integers. Can be added, subtracted, rounded, etc.
- **String:** Letters, words, and sentences. Anything meant for the user to read, not the computer.
- **Float:** Numbers with decimals.

# Variables
- A way of storing your data
- Just like you, variables have names and values
- Variables names should be informative to what's contained in the variable
- Use the single equal sign (=) to create or change the value of a variable

In [6]:
best_number = 6
best_number

6

The value of a variable will change if you assign the name to something new.

In [7]:
best_number

6

In [10]:
best_number = 8
best_number

8

Unlike some other languages, you can change the value of a variable between types.

In [12]:
best_number = "four million"
best_number

'four million'

In [13]:
# Quick! What's the output of this?

best_number + best_number

'four millionfour million'

### Variable Names
- Naming variables can be tricky: you want to be consice enough that it doesn't add clutter but descriptive that someone reading your code would understand what's going on.
- Variable names are case sensitive

In [14]:
Best_number

NameError: name 'Best_number' is not defined

- Variable names cannot have spaces (use an underscore if you need more than one word)

In [15]:
favorite number = 6

SyntaxError: invalid syntax (<ipython-input-15-e9baea59d7f1>, line 1)

- Variable names must start with a letter, but can contain numbers too

In [16]:
2nd_favorite = 8

SyntaxError: invalid syntax (<ipython-input-16-7e37a36dcf4b>, line 1)

In [17]:
favorite2 = 8

## Summary: Variables
- What will the following lines of code output?

In [19]:
var1 = 6
var2 = 12
var1 + var2

18

In [20]:
var2 % var1

0

In [23]:
var1 = 13
var2 = 14
var1 > var2

False

In [24]:
var1 != var2

True

In [27]:
var2 = "15"
var2 - var1

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [28]:
var1 = "10"
var2 + var1

'1510'

### Variables are very useful for storing information. Just make sure that you know what's contained in each one!

# Functions
- So far, you know how the computer reads your data depending on its type
- You also know how to give names to your data so you can keep track of it and use it later
- Functions are the third critical piece of the Python puzzle
- Now that we have our data, let's do something with it!

In [29]:
def vacation_cost(plane_ticket, rental_car, food_per_day, hotel_per_day, days, destination):
    travel_cost = plane_ticket + rental_car
    hotel_cost = hotel_per_day * days
    food_cost = food_per_day * days
    total = travel_cost + hotel_cost + food_cost
    return "I spent a total of $" + str(total) + " on my trip to " + destination

In [32]:
vacation_cost(plane_ticket=300, rental_car=100, food_per_day=20, hotel_per_day=90, days=3, destination="the Moon")

'I spent a total of $730 on my trip to the Moon'

In [33]:
vacation_cost(100, 50, 10, 80, 7, "Nicaragua")

'I spent a total of $780 on my trip to Nicaragua'

## Pieces of the function
- **Function Name:** Comes after "def". Should be descriptive but concise, like any other variable
- **Parameters:** The "inputs". Put in parentheses after the function name, separated by commas
- **Function Body:** The lines of code that perform operations on your inputs, make new variables, and "do" what your function is supposed to do
- **Return Statement:** The "output"

# Practice!

### Problem 1

In [11]:
def total_bill(price_of_food, tax_rate, tip_percent):
    added_tax =
    added_tip =
    total =
    return total

In [13]:
total_bill(price_of_food=25, tax_rate=.1, tip_percent=.2) == 32.5

True

### Problem 2

In [8]:
# Hint: The square root of x is the same as x to the 0.5 power
# Look up the formula if you need to!
def euclidean_distance(x1, y1, x2, y2):
    distance = 
    return distance

In [10]:
# This would find the straight-line distance from (0,0) to (3,4)
euclidean_distance(0,0,3,4) == 5.0

True

### Problem 3

In [19]:
# This function should replace all s's with 5s and all a's with 4s.
# Make sure it replaces uppercase S's and A's too!
def replace_letters(sentence):
    '''Write stuff here!'''
    return sentence

In [20]:
replace_letters('Sure hope this works or at least almost works') == '5ure hope thi5 work5 or 4t le45t 4lmo5t work5'

True

### Problem 4

In [34]:
'''Write this one yourself!'''

'''This function should return the number of two-point baskets
a player scores during a game of basketball. You are given the
number of one-point baskets (free throws), the number of three-point 
baskets (threes), and their total points scored (total_points).
Assume each basket can only be one, two, or three points.'''

'This function should return the number of two-point baskets\na player scores during a game of basketball. You are given the\nnumber of one-point baskets (free throws), the number of three-point \nbaskets (threes), and their total points scored (total_points).\nAssume each basket can only be one, two, or three points.'

In [27]:
two_point_shots(free_throws=10, threes=6, total_points=50) == 11.0

True